DB_HOST=localhost
DB_USER=student
DB_PASSWORD=student
DB_NAME=db_orders
DB_DIALECT=mysql
PORT=3005

JWT_SECRET=your_secret_key_here

# Microservices Integration
CATALOG_API_URL=http://localhost:3003
INVENTORY_API_URL=http://localhost:3002
PAYMENT_API_URL=http://localhost:3001